$modalBgColor: #fff;
$formColor: hsl(234, 29%, 20%);
$emailColor: hsl(231, 7%, 60%);
$hoverColor: rgb(248, 67, 106);
$errorColor: hsl(4, 100%, 67%);
$backgroundColor: hsl(235, 18%, 26%);
$inputBgColor:hsl(2, 74%, 93%);
